<!DOCTYPE html>
<html>
	<head>
		<title>流程发起单</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<link rel="shortcut icon" href="../../img/commonImg/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="../../Content/Css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../../Content/Css/bs-datetimepicker/bootstrap-datetimepicker.css"/>
		<link rel="stylesheet" type="text/css" href="../../plugins/icheck/skins/all.css"/>
		<link rel="stylesheet" href="../../Content/Css/base.css" />
		<link rel="stylesheet" href="../../Content/Css/main.css" />
        <link rel="stylesheet" href="../../Content/Css/font/iconfont.css">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
                <!--这是头部-->
                <header class="col-md-12 header">
                     <div class="col-md-8">
                         <div class="row">
                             <img class="logoImg" src="../../Content/Images/common/logo2.png"/>
                             <span class="topic">首页</span>
                         </div>
                     </div>
                     <div class="col-md-4 login">
                         <div class="row">
                             <span>欢迎您&nbsp;,</span>
                             <a id="currentUser" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">刘百明<span class="caret"></span></a>
                             <ul class="dropdown-menu" aria-labelledby="currentUser">
                                 <li><i class="glyphicon glyphicon-log-out"></i><a href="javascript:void(0);">退出</a></li>
                             </ul>
                         </div>
                    </div>
                </header>
                <!--这是头部  end-->

				<!--这是左侧菜单 start-->
				<nav class="left-menu">
                    <div class="nav-title">
                        <h6>诉讼管理系统</h6>
                        <span class="fr"></span>
                    </div>
                    <ul>
                        <li><a href="javascript:void(0);"><span class="icon icon-nav1"></span>首页</a></li>
                        <li><a href="javascript:void(0);"><span class="icon icon-nav2"></span>案件上报</a></li>
                        <li><a href="javascript:void(0);"><span class="icon icon-nav3"></span>统计查询</a></li>
                        <li><a href="javascript:void(0);"><span class="icon icon-nav4"></span>律师管理</a></li>
                        <li><a href="javascript:void(0);"><span class="icon icon-nav5"></span>审批范本库</a></li>
                        <li><a href="javascript:void(0);"><span class="icon icon-nav6"></span>评价排名</a></li>
                        <li><a href="javascript:void(0);"><span class="icon icon-nav7"></span>系统配置</a></li>
                        <li><a href="javascript:void(0);"><span class="icon icon-nav8"></span>帮助</a></li>
                    </ul>
				</nav>
				<!--这是左侧菜单 end-->
			</div>
		</div>
		<script src="../../Scripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../Scripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../Scripts/bs-datetimepicker/bootstrap-datetimepicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/icheck/js/icheck.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">

		</script>
	</body>

</html>